body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0px;
    
}

section {
    display:flex;
    box-sizing:content-box;
    flex-direction: row;
}
header {
    display:flex;
    padding:20px;
    background-color: 12AAFF;
    text-align: justify;    
}

.title {
    flex:7;
}

.headermenu{
 padding:3em;
 flex:1;   
}

.headermenu ul {
    list-style: none;
}

.headermenu ul li {
    display:inline;
}

a {
    color:white;
    font-style: oblique;
}

aside {
    flex:0;
    background-color: 12AAFF;
    padding:20px;
}

article {
    flex:3;

}

footer {
    display:flex;
    background-color:636363;
    padding:20px;
}

.grande {
    background-color:E8E8E8;
    display:flex;
    box-sizing:content-box;
    flex-direction: row;
    
}

.img {
    flex:0;
    padding:20px;
}

.img2 {
    flex:0;
    padding:20px;
}

.img3 {
    flex:0;
    padding:20px;
}

